<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restablecer Contraseña</title>
  <style>
    body {
      background-color: #f7f7f7;
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 800px;
      margin: 30px auto;
      padding: 40px;
      /* Aumentado el padding para más espacio */
      background-color: #ffffff;
      border: 1px solid #ddd;
      text-align: left;
      /* Alinea el texto a la izquierda */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      margin: 20px 0;
      background-color: #26c6da;
      /* Color del botón */
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
    }

    .footer {
      font-size: 12px;
      color: #777777;
      margin-top: 20px;
    }

    .header {
      font-weight: bold;
      /* Hace el título en negritas */
    }
  </style>
</head>

<body>
  <div class="container">
    <img src="<%= logo %>" alt="Logo" style="height: 100px; margin: 0 auto 20px; display: block;">
    <h1 class="header">Restablecer Contraseña</h1>
    <p>Hola, <%= name %>:</p>
    <p>Recibes este correo porque solicitaste restablecer tu contraseña para tu cuenta en <%= appName %>.</p>
    <p>Por favor, haz clic en el siguiente botón para restablecer tu contraseña:</p>
    <a href="<%= url %>" class="button">Restablecer Contraseña</a>
    <p class="footer">Si no solicitaste restablecer tu contraseña, por favor ignora este correo.</p>
    <p class="footer">Si tienes alguna pregunta o necesitas asistencia, no dudes en ponerte en contacto con nuestro
      equipo de soporte.</p>
    <p class="footer">Atentamente,</p>
    <p class="footer">
      <%= appName %>
    </p>
  </div>
</body>

</html